.main-content{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 35px;
}
body{
    height: 100%;
    padding: 20px;
}
.section{
    display: flex;
    justify-content: center;
}